:root {
    /* Fonts */
    --body-padding: 14.4rem;
    --ff: "Poppins", sans-serif;
  
    /* Colors */
    --color-primary: #56ace0;
    --color-primary-light: #e9f4fb;
    --color-seondary: #4e4e4e;
    --color-secondary-light: rgba(black, 0.3);
    --color-tertiary: #ffc10d;
    --btn-gradient: linear-gradient(270deg, #d8a000 0%, #ffc10d 100%);
    --btn-gradient-hover: linear-gradient(270deg, #ffc10d 0%, #d8a000 100%);
    --bg-gradient: radial-gradient(
      50% 50% at 50% 50%,
      rgba(86, 172, 224, 0) 0%,
      rgba(86, 172, 224, 0.21) 100%
    );
    --white: #fff;
    --card-bc: rgba(86, 172, 224, 0.5);
    --input-bd: rgba(86, 172, 224, 0.35);
  }
  
  @keyframes fadein {
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  
  @keyframes slidein {
    100% {
      transform: translateX(0%);
      opacity: 1;
      display: flex;
    }
    50% {
      opacity: 0;
      transform: translateX(-100%);
    }
    0% {
      transform: translateX(-100%);
      opacity: 0;
      display: none;
    }
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    max-width: 100%;
    font-family: var(--ff);
    margin: 0 auto;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: var(--color-seondary);
  }
  img {
    width: 100%;
    display: block;
  }
  /* Utility classes */
  .heading-h1 {
    font-size: 3.6rem;
    font-weight: 500;
    color: var(--color-primary);
    line-height: 4.5rem;
  }
  .heading-h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--color-primary);
  }
  .heading-h3 {
    font-size: 2.2rem;
    color: var(--color-primary);
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
  }
  .paragraph {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 21px;
  }
  .container {
    width: 100%;
    
  }
  header {
    background: var(--bg-gradient);
    padding: 2rem var(--body-padding) 0 var(--body-padding);
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar img {
    width: 130px;
    height: 32px;
  }
  .navigation-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
  }
  .navigation-links .navigation-link:not(:last-child) {
    margin-right: 3.6rem;
  }
  .btn-nav {
    padding: 8px 37px;
  }
  .btn-nav a {
    color: #fff;
  }
  .toggle-nav {
    display: none;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-info {
    display: grid;
    grid-template-rows: calc(1fr-200px) min-content 1fr;
    align-content: center;
    justify-content: left;
    justify-items: start;
  }
  
  .col-2 img {
    max-width: 57.4rem;
   min-width: 4rem;
    height: 578px;
    
  }
  .header-text {
    max-width: 48.8rem;
    grid-row: 2/3;
  }
  .header-text > *:not(:last-child) {
    margin-bottom: 1.6rem;
  }
  .btn {
    background: var(--btn-gradient);
    color: var(--white);
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .btn:hover {
    background: var(--btn-gradient-hover);
  }
  .btn-link {
    font-size: 12px;
    padding: 11px 50px;
  }
  
  /* *********************************************************************************Features section *************************************************************************************/
  .features {
    padding: 5.2rem var(--body-padding);
  }
  .feature__cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5.2rem;
    gap: 30px;
  }
  .feature__card {
    height: 374px;
    width: 278px;
    padding: 12px 32px 27px 32px;
    border: 1px solid var(--card-bc);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  .feature__card > * {
    text-align: center;
  }
  
  .feature__card h4 {
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    color: var(--color-seondary);
    margin: 8px 0 22px 0;
  }
  
  .feature__card p {
    font-size: 10px;
    line-height: 15px;
    color: var(--color-seondary);
    opacity: 0.65;
  }
  .feature__card a {
    text-transform: uppercase;
    color: var(--color-tertiary);
    font-size: 12px;
    font-weight: 600;
    margin-top: auto;
  }
  
  /************************************************************ Register section ********************************************************************/
  
  .register {
    padding: 10.5rem var(--body-padding);
    background-color: var(--color-primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: 62.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form > *:not(:last-child) {
    margin-bottom: 16px;
  }
  .form h3,
  .form p {
    text-align: center;
  }
  .form h3 {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-seondary);
  }
  .form p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-secondary-light);
    opacity: 0.65;
  }
  .form__input {
    align-self: stretch;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .form__input input {
    padding: 18px 25px;
    width: 76%;
    margin-right: 10px;
    border: none;
  }
  .form__input button {
    padding: 18px 41.5px;
    border: none;
  }
  .form__input input::placeholder {
    font-size: 16px;
    color: var(--color-seondary);
    opacity: 0.15;
  }
  
  /* ********************************************Footer************************************************************ */
  
  footer {
    padding: 45px var(--body-padding);
    background-color: #262626;
  }
  .copyright {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
  
  /* ******************************************Form Page*********************************************************************** */
  .col-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .col-1 .hero {
    /* max-width: 60rem; */
    height: 80rem;
    display: block;
    margin-left: -6rem;
  }
  .col-2 {
    display: flex;
    align-items: center;
  }
  
  .verify-section {
    max-width: 54rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .verify-section h2 {
    margin-bottom: 8px;
    text-align: center;
  }
  .verify-section p {
    margin-bottom: 32px;
    text-align: center;
    opacity: 0.65;
  }
  .form__verify {
    width: 38rem;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .form__verify input {
    margin-bottom: 16px;
    display: block;
    width: 100%;
    padding: 16px 21px;
    border: 1px solid var(--input-bd);
  }
  .form__verify input:focus {
    outline: none;
    border-bottom: 3px solid green;
  }
  .form__verify input:focus:invalid {
    outline: none;
    border-bottom: 3px solid red;
  }
  #phonenumber {
    width: 100%;
    display: block;
  }
  .input-wrapper {
    position: relative;
    width: 100%;
  }
  .form__verify input::placeholder {
    font-size: 14px;
    color: var(--color-seondary);
    opacity: 0.15;
  }
  
  .form__verify label {
    margin-bottom: 7px;
    font-size: 16px;
    color: var(--color-primary);
    font-weight: 400;
  }
  
  .form__verify button {
    margin: 27px auto 0 auto;
    padding: 18px 47px;
    border: none;
  }
  .carrier-icon img {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 4px;
    right: 8px;
    border-radius: 3px;
  }
  .modal {
    position: fixed;
    margin: auto;
    border: 1px solid var(--card-bc);
    border-radius: 5px;
    padding: 20px;
    background-color: var(--color-primary-light);
  }
  .modal::backdrop {
    background-color: #262626;
    opacity: 0.4;
  }
  .close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red !important;
    color: black !important;
    border-radius: 50%;
    padding: 10px;
  }
  
  /******************************************* MEDIA QUERIES*********************************************************** */
  
  @media (max-width: 1200px) {
    :root {
      --body-padding: 7rem;
    }
  }
  
  @media (max-width: 1000px) {
    :root {
      --body-padding: 4rem;
    }
    html {
      font-size: 50%;
    }
  }
  
  @media (max-width: 800px) {
    :root {
      --body-padding: 7rem;
    }
    html {
      font-size: 50%;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .col-1{
      margin-bottom: 100px;
      
      align-items: center;
   
    }
    .col-1 .hero{
      display: block;
      width:100%;
      margin-left: 0;
     
     
    }
    
    .col-2{
      padding: 40px 0;
    }
    
    .logo {
      align-self: flex-start;
    }
    .toggle-nav {
      display: block;
      width: 30px;
      height: 3px;
      background-color: var(--color-primary);
      box-shadow: 0 2rem 4rem black;
      cursor: pointer;
      z-index: 20;
      position: fixed;
      }
  
      .toggle-nav::after {
        top: 10px;
      }
      .toggle-nav::before {
        bottom: 10px;
      }
  
      .toggle-nav::after,
      .toggle-nav::before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--color-primary);
        position: absolute;
        transition: all 0.2s;
      
    }
    .header-info {
      height: 80vh;
      justify-items: center;
      justify-content: center;
    }
    .header-text {
      max-width: 100%;
    }
    .navigation-links {
      display: none;
    }
   .form__input{
      flex-direction: column;
   }
   .form__input>*{
      width: 100%;
      margin-bottom: 20px;
   }
    .toggle-nav {
      position: fixed;
      right: var(--body-padding);
      z-index: 30;
    }
  
    .toggled {
      display: flex;
      flex-direction: column;
      height: 100vh;
  
      justify-content: space-between;
      padding: 100px 0;
      align-items: center;
      background: var(--color-seondary);
     
      position: fixed;
      inset: 0;
      z-index: 20;
      font-size: 19px;
      font-weight: 300;
      animation: fadein 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
    }
  
    .toggled>* a{
      text-transform: uppercase;
       color: var(--color-primary-light);
    }
  .toggle-nav-active {
    background-color: transparent;
     display: block;
      width: 30px;
      height: 3px;
      /* background-color: var(--color-primary); */
      display: block;
      right: var(--body-padding);
      box-shadow: 0 2rem 4rem black;
      cursor: pointer;
      z-index: 20;
      position: fixed;
    }
    .toggle-nav-active::before,
    .toggle-nav-active::after {
      content: "";
      top: 0;
      display: block;
        width: 100%;
        height: 3px;
        background-color: var(--color-primary);
        position: absolute;
        transition: all 0.2s;
        
    }
  
    .toggle-nav-active::before {
      transform: rotate(45deg);
    }
    .toggle-nav-active::after {
      transform: rotate(-45deg);
    }
  
  }
  @media (max-width: 800px){
    :root{
      --body-padding:4rem;
    }
  }